*/.ipynb_checkpoints/*

.ipynb_checkpoints/

**/__pycache__/

data/*

output/
output/*

makingtable/gaiadatawithnearby.csv
makingtable/nearbygaiaids.vot
makingtable/cleanedgaiadata.csv

multiplots/
multiplots/*
lightcurves/*
lightcurves/

*.png
